
/* =================================== */

display-grid {
    background: #ccc;
}

.panel .grid-cell {
    background: #fff;
    height: 100%;
}

.panel .grid-header {
    background: #eee;
    box-shadow: 1px 1px #ccc;
}
