
/* =================================== */

display-grid {
    background: #ccc;
}

.panel .grid-header {
    background: #eee;
    box-shadow: 1px 1px #ccc;
}

.panel .table-cell  {
    display: table-cell;
    text-align: right;
}

