
.progress-bar {
	position: relative;
	box-sizing: border-box;
	width: 80%;
	height: 1.4em;
	background: #fff;
	margin: 1em;
	border-radius: 2px;
	overflow: hidden;
	border: 1px solid #ccc;
}

.progress-bar-progress {
	position: absolute;
	box-sizing: border-box;
	top: 0px;
	left: 0px;
	height: 100%;
	z-index: 1;
	background: #eef;
	padding: 0;
	margin: 0;
}

.progress-bar-label {
	position: absolute;
	box-sizing: border-box;
	top: 50%;
	left: 0px;
	width: 100%;
	text-align: center;
	z-index: 2;
	color: #333;
	padding: 0;
	margin: 0;
	-webkit-transform: translateY(-50%);
}

